@page
@model BankApp.Pages.CountryModel
@{
}

<div class="container-custom">
    <h1 class="top-text">
        Top 10 Customers in @Model.Country
        <hr />
    </h1>
        <table class="table custom-table country-table">
            <thead>
                <tr class="index-headers-text">
                    <th class="col">Rank</th>
                    <th class="col">Name</th>
                    <th class="col">Assets</th>
                </tr>
            </thead>
            <tbody>
            @foreach (var customer in Model.TopTenCustomers.Select((value, index) => new { Value = value, Rank = index + 1 }))
            {
                <tr>
                    <td class="col">@customer.Rank</td>
                    <td class="col">@customer.Value.FullName</td>
                    <td class="col">@customer.Value.Balance $</td>
                </tr>
            }
            </tbody>
        </table>

    <a class="custom-btn custom-border-btn btn back-button" asp-page="/Index">Back</a>
</div>
