@page
@model BankApp.Pages.CountryModel
@{
}

<div class="container-custom">
    <h1 class="top-text">
        Top 10 Customers in @Model.Country
        <hr />
    </h1>

    <table class="table custom-table">
        <thead>
            <tr class="index-headers-text">
                <th>Rank</th>
                <th>Name</th>
                <th>Assets</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var customer in Model.TopTenCustomers.Select((value, index) => new { Value = value, Rank = index + 1 }))
            {
                <tr>
                    <td>@customer.Rank</td>
                    <td>@customer.Value.Key</td>
                    <td>@customer.Value.Value $</td>
                </tr>
            }
        </tbody>
    </table>



    <a class="custom-btn custom-border-btn btn" asp-page="/Index">Return</a>
</div>
