@page
@using BankWeb.Pages
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="flex-hero landing-page-margin" id="landing-header">
    <h1>Banking</h1>
    <div class="second-header-text">
        <h1 class="made-easy primary-color">made easy</h1>
    </div>
</div>

<hr class="primary-color" />
<div class="flex-item">
    <div class="image-container">
        <div class="background-image-1 mt-5"></div>
        <div class="text-container">
            <p class="text-image-1 primary-color">Your security is our priority. Welcome to a bank where your needs come first.</p>
        </div>
    </div>

    <div class="image-container">
        <div class="background-image-2 mt-5"></div>
        <div class="text-container">
            <p class="text-image-2 primary-color">Watch your dreams grow, one coin at a time. Together, we build a safer future.</p>
        </div>
    </div>

    <div class="image-container">
        <div class="background-image-3 mt-5"></div>
        <div class="text-container">
            <p class="text-image-3 primary-color">Gain insights to elevate your finances. Navigate your financial goals with confidence and clarity.</p>
        </div>
    </div>
</div>
<h2 class="landing-manage">Manage your transactions in a very nordic bank</h2>
<hr class="primary-color" />

<div class="flex-item-gap">
    <img class="flag" src="/images/Flag_of_Sweden.svg.png" alt="Swedish flag" style="display:none;" />
    <img class="flag" src="/images/Flag_of_Norway.svg.png" alt="Norwegian flag" style="display:none;" />
    <img class="flag" src="/images/Flag_of_Denmark.svg.png" alt="Danish flag" style="display:none;" />
    <img class="flag" src="/images/Flag_of_Finland.svg.png" alt="Finnish flag" style="display:none;" />
</div>

<div>

        <partial name="_CountryBox" model="@Model" />

</div>


<script>
    document.addEventListener("DOMContentLoaded", function () {
        var images = document.querySelectorAll(".background-image");
        var texts = document.querySelectorAll(".text-image");
        var currentIndex = 0;

        function showNextImage() {
            if (currentIndex < images.length) {
                images[currentIndex].style.animation = "buildUp 1.5s ease forwards";
                images[currentIndex].style.opacity = "0.7";
                texts[currentIndex].style.animation = "fadeIn 1.5s ease forwards";
                texts[currentIndex].style.opacity = "1";
                currentIndex++;
                setTimeout(showNextImage, 1500);
            }
        }

        showNextImage();
    })

    $(document).ready(function () {
        var fadeInTable = function () {
            var table = $('#index-table');
            var windowTop = $(window).scrollTop();
            var tableTop = table.offset().top;
            var windowHeight = $(window).height();

            if (windowTop + windowHeight > tableTop) {
                table.addClass('fade-in');
                $(window).off('scroll', fadeInTable);
            }
        };

        fadeInTable();

        $(window).on('scroll', fadeInTable);
    });

    $(document).ready(function () {
        var flags = $('.flag');
        var windowTop = $(window).scrollTop();
        var windowHeight = $(window).height();
        var table = $('.flex-item-gap');

        var fadeInFlag = function () {
            windowTop = $(window).scrollTop();
            var tableTop = table.offset().top;

            if (windowTop + windowHeight > tableTop) {
                flags.each(function (index) {
                    var flag = $(this);
                    setTimeout(function () {
                        flag.css('display', '');
                        flag.addClass('fade-in');
                    }, index * 500);
                });

                $(window).off('scroll', fadeInFlag);
            }
        };

        fadeInFlag();

        $(window).on('scroll', fadeInFlag);
    });

</script>