<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta name="description" content="">
    <meta name="author" content="">

    <title>Bank Application</title>

    <!-- CSS FILES -->
    <link rel="preconnect" href="https://fonts.googleapis.com">

    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,400;0,700;1,200&family=Unbounded:wght@400;700&display=swap" rel="stylesheet">

    <link href="/css/bootstrap.min.css" rel="stylesheet">

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    <link href="/css/bootstrap-icons.css" rel="stylesheet">

    <link href="/css/tooplate-kool-form-pack.css" rel="stylesheet">

    <script src="https://kit.fontawesome.com/41c8b474e2.js" crossorigin="anonymous"></script>

    <link href="/aos/aos.css" rel="stylesheet">

    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css"
          integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w=="
          crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>


<!--

Tooplate 2136 Kool Form Pack

https://www.tooplate.com/view/2136-kool-form-pack

Bootstrap 5 Form Pack Template

-->

<body>

    <main>

        <header class="site-header">
            <div class="container">
                <div class="row justify-content-between">

                    <div class="col-lg-12 col-12 d-flex align-items-center">
                        <a class="site-header-text d-flex justify-content-center align-items-center me-auto" asp-page="/Index">
                            <i class="bi bi-safe"></i>
                            <span>
                                Luxor Bank
                            </span>
                        </a>
                        <div>
                        </div>
                        <partial name="_LoginPartial" />
                    </div>

                </div>
            </div>
        </header>
        </div>
        </div>
        </nav>
        </header>
        <div class="container">
            <div class="landing-page-image"></div>
            <main role="main" class="pb-3">
                @RenderBody()
            </main>
        </div>
        <footer class="mt-5 container">
            <hr class="primary-color" />
            <div class="flex-item-footer primary-color">
                <p class="primary-color">
                    Copyright 2024 Gustav Ivering
                </p>
                <div class="mt-1 social-icons">
                    <a href="https://github.com/zikky17" class="social-icon"><i class="fa-brands fa-github"></i></a>
                    <a href="mailto:gustav.ivering@live.se" class="social-icon">
                        <i class="fa-regular fa-envelope"></i>
                    </a>
                    <a href="https://www.linkedin.com/in/gustav-ivering-779338131/" class="social-icon">
                        <i class="fa-brands fa-linkedin"></i>
                    </a>
                </div>
            </div>
        </footer>
        <script src="~/lib/jquery/dist/jquery.min.js"></script>
        <script src="~/js/Script.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
        <script src="/aos/aos.js"></script>

        @await RenderSectionAsync("Scripts", required: false)
</body>
</html>