@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

<ul class="navbar-nav">
    @if (SignInManager.IsSignedIn(User))
    {
        <div class="partial-nav">
        <li class="nav-item">
                @{
                    var name = User.Identity.Name;
               
                    <div class="partial-nav">
                        <a class="nav-link" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Hello @name!</a>
                    </div>
                }

        </li>
        <a class="bi-list offcanvas-icon" data-bs-toggle="offcanvas" href="#offcanvasMenu" role="button" aria-controls="offcanvasMenu"></a>
        </div>
    }
    else
    {
        <div class="partial-nav">
            <a asp-page="/Customer/Index" class="custom-btn custom-border-btn btn">Show All Customers</a>
            <a asp-page="/Account/Register" asp-area="Identity" class="custom-btn custom-border-btn btn">
                Register
                <i class="bi-arrow-right ms-2"></i>
            </a>
            <a asp-page="/Account/Login" asp-area="Identity" class="custom-btn custom-border-btn btn">
                Log In
                <i class="bi-arrow-right ms-2"></i>
            </a>

        </div>
    }
</ul>
