@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager



<ul class="navbar-nav">
    @if (SignInManager.IsSignedIn(User))
    {
        var user = await UserManager.GetUserAsync(User);
        var userRoles = await UserManager.GetRolesAsync(user);

        @if (userRoles.Contains("Admin"))
        {
            <div>
            <li class="nav-item flex-item " style="gap: 20px">
                <a class="nav-link personal-text" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Hello @User.Identity.Name!</a>
                <a class="custom-btn custom-border-btn btn cashier-button" data-bs-toggle="offcanvas" href="#offcanvasMenu" role="button" aria-controls="offcanvasMenu">Admin Menu</a>
            </li>
            </div>
            <div class="offcanvas offcanvas-end" data-bs-scroll="true" tabindex="-1" id="offcanvasMenu" aria-labelledby="offcanvasMenuLabel">
                <div class="offcanvas-header">
                    <button type="button" class="btn-close ms-auto" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                </div>

                <div class="offcanvas-body d-flex flex-column justify-content-center align-items-center">

                    <a asp-page="/Index" class="custom-btn custom-border-btn nav-button">Home</a>

                    <a asp-page="/User/Index" class="custom-btn custom-border-btn nav-button">Show all Users</a>

                    <a asp-page="/User/CreateUser" class="custom-btn custom-border-btn nav-button">Create new User</a>

                    <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Page("/Index", new { area = "" })">
                        <button type="submit" class="custom-btn btn nav-button">Logout</button>
                    </form>

                </div>
            </div>
        }
        else if (userRoles.Contains("Cashier"))
        {
            <div>
            <li class="nav-item flex-item " style="gap: 20px">
                <a class="nav-link personal-text" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Hello @User.Identity.Name!</a>
                <a class="custom-btn custom-border-btn btn cashier-button" data-bs-toggle="offcanvas" href="#offcanvasMenu" role="button" aria-controls="offcanvasMenu">Cashier Menu</a>
            </li>
            </div>

            <div class="offcanvas offcanvas-end" data-bs-scroll="true" tabindex="-1" id="offcanvasMenu" aria-labelledby="offcanvasMenuLabel">
                <div class="offcanvas-header">
                    <button type="button" class="btn-close ms-auto" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                </div>

                <div class="offcanvas-body d-flex flex-column justify-content-center align-items-center">

                    <a asp-page="/Index" class="custom-btn custom-border-btn nav-button">Home</a>

                    <a asp-page="/Customer/Index" class="custom-btn custom-border-btn nav-button">Show Customers</a>

                    <a asp-page="/Customer/Create" class="custom-btn custom-border-btn nav-button">Create new Customer</a>

                    <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Page("/Index", new { area = "" })">
                        <button type="submit" class="custom-btn custom-border-btn btn nav-button">Logout</button>
                    </form>

                </div>
            </div>
        }
    }
    else
    {
        <div class="partial-nav">
            <a asp-page="/Account/Login" asp-area="Identity" class="custom-btn custom-border-btn btn">
                Log In
                <i class="bi-arrow-right ms-2"></i>
            </a>
        </div>
    }
</ul>
