@page
@model BankApp.Pages.DepositModel
@{
    var message = ViewData["Message"]?.ToString();
}

<h1 class="margin-class">Deposit</h1>
<hr class="primary-color"/>
<form method="post">
    <dt class="col-sm-4 primary-color">Balance:</dt>
    <dd class="col-sm-8 personal-text">@Model.AccountBalance</dd>
    <hr />
    <div class="flex-item">
        <h4 class="header-quote">Account:</h4>
        <h6 class="primary-color margin-left-20 mt-1">@Model.AccountId</h6>
    </div>
    <div class="form-group">
        <label class="primary-color input-style-account" asp-for="DepositAmount">Amount</label>
        <input asp-for="DepositAmount" />
        <span asp-validation-for="DepositAmount" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label class="primary-color input-style-account" asp-for="Comment">Comment</label>
        <input asp-for="Comment" />
        <span asp-validation-for="Comment" class="text-danger"></span>
        <div class="row">
            <div class="mt-3">
                @if (!string.IsNullOrWhiteSpace(message))
                {
                    <div class="alert alert-warning success-message text-center" role="alert">
                        @message
                    </div>
                }
                else
                {
                    <div class="alert alert-warning text-center invisible" role="alert">
                        &nbsp;
                    </div>
                }
            </div>

        </div>
    <a class="custom-btn custom-border-btn btn mt-5 back-button" onclick="window.history.back()">Back</a>
    <input class="custom-btn custom-border-btn btn mt-5 button-margin" type="submit" value="Deposit" />

</form>
