@page
@model BankApp.Pages.DepositModel
@{
}

<h1 class="margin-class">Deposit</h1>
<hr class="primary-color"/>
<form method="post">
    <dt class="col-sm-4 primary-color">Balance:</dt>
    <dd class="col-sm-8 personal-text">@Model.AccountBalance</dd>
    <hr />
    <div class="flex-item">
        <h4 class="header-quote">Account:</h4>
        <h6 class="primary-color margin-left-20 mt-1">@Model.AccountId</h6>
    </div>
    <div class="form-group">
        <label class="primary-color input-style" asp-for="DepositAmount">Amount</label>
        <input asp-for="DepositAmount" />
        <span asp-validation-for="DepositAmount" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label class="primary-color input-style" asp-for="Comment">Comment</label>
        <input asp-for="Comment" />
        <span asp-validation-for="Comment" class="text-danger"></span>
    </div>
    <a class="custom-btn custom-border-btn btn mt-5" onclick="window.history.back()">Back</a>
    <input class="custom-btn custom-border-btn btn mt-5 ml-3" type="submit" value="Deposit" />
</form>


<div id="depositSuccessModal" class="modal" style="display:none">
    <div class="modal-content">
        <span class="close">&times;</span>
        <p>Deposit is successful</p>
    </div>
</div>



<script>
    var modal = document.getElementById("depositSuccessModal");

    @if (Model.DepositResult == ServiceLibrary.Interfaces.StatusMessage.Approved)
    {
        @:modal.style.display = "block";
    }
        var closeButton = document.querySelector(".close");

    closeButton.onclick = function () {
        modal.style.display = "none";
    }

    window.onclick = function (event) {
        if (event.target == modal) {
            modal.style.display = "none";
        }
    }
</script>