@page
@model BankApp.Pages.Account.TransferModel
@{
}

<h1 class="margin-class">Transfer</h1>
<hr class="primary-color" />

<form method="post">
    <dt class="col-sm-4 primary-color">Balance:</dt>
    <dd class="col-sm-8 personal-text">@Model.AccountBalance</dd>
    <hr />

    <div class="flex-item" id="accountSelection">
        <h4 class="header-quote">From account:</h4>
        <input type="hidden" asp-for="AccountId" />
        <span>@Model.AccountId</span>
    </div>
    <div id="customerSelection">
        <div id="customerInfo">
            <div class="form-group mt-4" id="transferAmount">
                <label class="primary-color input-style" asp-for="TransferAccountId">Receiver</label>
                <input asp-for="TransferAccountId" placeholder="Enter an Account Id" />
                <span asp-validation-for="TransferAccountId" class="text-danger"></span>
            </div>
            <div class="form-group mt-4" id="transferAmount">
                <label class="primary-color input-style" asp-for="TransferAmount">Amount</label>
                <input asp-for="TransferAmount" />
                <span asp-validation-for="TransferAmount" class="text-danger"></span>
            </div>
            <div class="form-group mt-4">
                <label class="primary-color input-style" asp-for="Comment">Comment</label>
                <input asp-for="Comment" />
                <span asp-validation-for="Comment" class="text-danger"></span>
            </div>

            <a class="custom-btn custom-border-btn btn back-button mt-5" onclick="window.history.back()">Back</a>
            <input class="custom-btn custom-border-btn btn mt-5 search-button" type="submit" value="Transfer" />
        </div>
    </div>
</form>